## Reading and manipulating datasets with Pandas

This notebook shows how to read CSV files with pandas and apply common SQL operations

**Author:** Roberto Muñoz <br />
**Email:** rmunoz@uc.cl

In [1]:
import numpy as np
import pandas as pd

from __future__ import print_function

In [2]:
regiones_file='data/chile_regiones.csv'
provincias_file='data/chile_provincias.csv'
comunas_file='data/chile_comunas.csv'

regiones=pd.read_csv(regiones_file, header=0, sep=',')
provincias=pd.read_csv(provincias_file, header=0, sep=',')
comunas=pd.read_csv(comunas_file, header=0, sep=',')

In [3]:
print('regiones table: ', regiones.columns.values.tolist())
print('provincias table: ', provincias.columns.values.tolist())
print('comunas table: ', comunas.columns.values.tolist())

regiones table:  ['RegionID', 'RegionNombre', 'RegionOrdinal']
provincias table:  ['ProvinciaID', 'ProvinciaNombre', 'RegionID']
comunas table:  ['ComunaID', 'ComunaNombre', 'ProvinciaID']

In [4]:
regiones.head()

   RegionID          RegionNombre RegionOrdinal
0         1  'Arica y Parinacota'          'XV'
1         2            'Tarapacá'           'I'
2         3         'Antofagasta'          'II'
3         4             'Atacama'         'III'
4         5            'Coquimbo'          'IV'

In [5]:
provincias.head()

   ProvinciaID ProvinciaNombre  RegionID
0            1         'Arica'         1
1            2    'Parinacota'         1
2            3       'Iquique'         2
3            4  'El Tamarugal'         2
4            5   'Antofagasta'         3

In [6]:
comunas.head()

   ComunaID     ComunaNombre  ProvinciaID
0         1          'Arica'            1
1         2      'Camarones'            1
2         3  'General Lagos'            2
3         4          'Putre'            2
4         5  'Alto Hospicio'            3

In [7]:
regiones_provincias=pd.merge(regiones, provincias, how='outer')
regiones_provincias.head()

   RegionID          RegionNombre RegionOrdinal  ProvinciaID ProvinciaNombre
0         1  'Arica y Parinacota'          'XV'            1         'Arica'
1         1  'Arica y Parinacota'          'XV'            2    'Parinacota'
2         2            'Tarapacá'           'I'            3       'Iquique'
3         2            'Tarapacá'           'I'            4  'El Tamarugal'
4         3         'Antofagasta'          'II'            5   'Antofagasta'

In [8]:
provincias_comunas=pd.merge(provincias, comunas, how='outer')
provincias_comunas.head()

   ProvinciaID ProvinciaNombre  RegionID  ComunaID     ComunaNombre
0            1         'Arica'         1         1          'Arica'
1            1         'Arica'         1         2      'Camarones'
2            2    'Parinacota'         1         3  'General Lagos'
3            2    'Parinacota'         1         4          'Putre'
4            3       'Iquique'         2         5  'Alto Hospicio'

In [47]:
regiones_provincias_comunas=pd.merge(regiones_provincias, comunas, how='outer')
regiones_provincias_comunas.index.name='ID'
regiones_provincias_comunas.head()

,RegionID,RegionNombre,RegionOrdinal,ProvinciaID,ProvinciaNombre,ComunaID,ComunaNombre
ID,,,,,,,
0,1,'Arica y Parinacota','XV',1,'Arica',1,'Arica'
1,1,'Arica y Parinacota','XV',1,'Arica',2,'Camarones'
2,1,'Arica y Parinacota','XV',2,'Parinacota',3,'General Lagos'
3,1,'Arica y Parinacota','XV',2,'Parinacota',4,'Putre'
4,2,'Tarapacá','I',3,'Iquique',5,'Alto Hospicio'

In [14]:
regiones_provincias_comunas.to_csv('chile_demographic_data.csv', index=False)

In [50]:
surveygizmo=regiones_provincias_comunas[['RegionNombre','ProvinciaNombre','ComunaNombre']]
surveygizmo.loc[:,'RegionNombre']=surveygizmo.apply(lambda x: x['RegionNombre'].replace("'",""), axis=1)
surveygizmo.loc[:,'ProvinciaNombre']=surveygizmo.apply(lambda x: x['ProvinciaNombre'].replace("'",""), axis=1)
surveygizmo.loc[:,'ComunaNombre']=surveygizmo.apply(lambda x: x['ComunaNombre'].replace("'",""), axis=1)

surveygizmo.rename(columns={'RegionNombre': 'Region:', 'ProvinciaNombre': 'Provincia:', 'ComunaNombre': 'Comuna:'}, inplace=True)
surveygizmo.to_csv('chile_demographic_surveygizmo.csv', index=False)

In [51]:
surveygizmo.head()

               Region:  Provincia:        Comuna:
ID
0   Arica y Parinacota       Arica          Arica
1   Arica y Parinacota       Arica      Camarones
2   Arica y Parinacota  Parinacota  General Lagos
3   Arica y Parinacota  Parinacota          Putre
4             Tarapacá     Iquique  Alto Hospicio